// Global colors
$base_color:white;

$dark_slate: #2f2f31;
$light_slate: #4b4d4f;
$light_gray:#eee;

$logo_color: #54BFFC;


// Behaviors
$btn_over:wheat;


$a_link_text:#3a3b3c;
$a_hover_text: #1d425b;

