@import "../main.scss";

body{
    background: url(../images/BG_BlackDot.png) repeat;
}

.aboutMainTxt{
    background: $base_color;
    padding:15px 50px;
    margin: 20px 0px;
    position: relative;
}

// Styled from the navigation bar - renamed

.resumeLink{
    width: 31%;
    min-width: 28%;
    text-align: center;
    position: relative;    
    font-size: 0.75em;
    height: 55px;
    a{
        text-decoration: none;
        color: $dark_slate;
        div{
            padding: 12px 0px;
            border: 1px solid $dark_slate;
            border-radius: 8px;
            border-bottom:3px solid $dark_slate;
            border-left:3px solid $dark_slate;
            background: $base_color;
            transition: 0.3s ease-in-out;
            &:hover{
                border-bottom:5px solid $dark_slate;
                border-left:5px solid $dark_slate;
                transform: translate(3px, -3px);
                background: $btn_over;
            }
        }

    }
    img{
        opacity: 0.8;
        height: 9px;
        margin-top:4px;
    }
}    
.heroVideo{
    video{
        width: 100%;
        height:auto;
    }
}
//  Mobile styles ----------------------------------------- MOBILE
/////////////////////////////////////////////////////////////////
@media screen and (max-width:480px) {
    .resumeLink{
        margin: 0 auto;
        width: 95%;
        min-width: 60%;
    }   
    // mobile closing }
}
//  Tablet styles ----------------------------------------- TABLE
/////////////////////////////////////////////////////////////////
@media screen and (min-width:481px) and (max-width:962px) {
    .resumeLink{
        // margin: 0 auto;
        width: 30%;
        min-width: 200px;
    }
    // tablet closing }
}