@import "./styles/colors";
@import "./styles/components/headerFooter";

body{
    padding: 0;
    margin: 0;
    font-family: "Share Tech", Arial, Helvetica, sans-serif;
    color: $dark_slate;
    background: url(./images/BG_BlackDot.png) repeat;
    font-size: 20px
}
.container{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 648px; //calc(768px - 120px);
    max-width: 970px;
    box-sizing: border-box;
    // border: 1px solid green;
}
h1{
    font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-top:30px
}
h2{
    font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.2em;
    margin-top: 40px;
}
h3{
    font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.1em;
}
h4{
    font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1em;
    padding: 6px 0px 5px;
}
a{
    color: $a_link_text;
    transition: 0.4s ease-in-out;
    &:hover{
        background: $btn_over;
    }
}
.readMoreLink{
    text-align: right;
}
.homeTT{
    text-align: center;
}
// container for home < section >
.homeSections{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    p, h3, h4, span{
        padding-left: 5%;
        padding-right: 5%;
    }
    .imgCont{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        // border: 1px solid $lighter_slate;
        img{
            text-align: center;
            width: 100%;
            transition: 0.4s ease-in-out;
            &:hover{
                scale:1.02;
                // filter: grayscale()
                filter:saturate(2.5)
            }
        }
    }  
}
// latest work < section >
.fr-work{
    width: 49%;
    background: $base_color;
    border: 1px solid $lighter_slate; 
    .imgCont{
        width: 100%;
        height: 200px;
    }
}
// case study section
.homeCaseStudy {
    border: 1px solid $lighter_slate;
    height: 350px;
    .caseStudyTxt{
        text-align: left;
    }

}
.fr-study{
    width: 50%;
    background: $base_color;
    border: none;        
    overflow: hidden;
    .imgCont{
        width: 100%;
        height: 100%;
        img{
            height: 100%;
            width: auto;
        }
    }   
}
// home blog posts < section >
.fr-hblog {
    width: 32%;
    background: $base_color;
    border: 1px solid $lighter_slate;
    position: relative;
    .imgCont{
        width: 100%;
        height: 150px;
    }
    h4{
        padding-top: 4px;
        padding-bottom: 3px;
        margin-bottom: 2px;
    }
    span{
        font-size: 0.7em;
        color:$lighter_slate;
    }
}

//  Mobile styles ----------------------------------------- MOBILE
/////////////////////////////////////////////////////////////////
@media screen and (max-width:480px) {
    body{
        padding: 0;
        margin: 0;
        font-family: "Share Tech", Arial, Helvetica, sans-serif;
        color: $dark_slate;
        background: url(./images/BG_BlackDot.png) repeat;
    }
    .container{
        padding: 0px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;
        max-width: 90%;
        box-sizing: border-box;
        border: 2px solid red;
    }
    h1{
        font-size: 1em;
    }
    // mobile closing }
}
.letsChat{
    text-align: center;
    font-size: 1.5em;

}

//  Tablet styles ----------------------------------------- TABLE
/////////////////////////////////////////////////////////////////
@media screen and (min-width:481px) and (max-width:962px) {
    body{
        padding: 0;
        margin: 0;
        font-family: "Share Tech", Arial, Helvetica, sans-serif;
        color: $dark_slate;
        background: url(./images/BG_BlackDot.png) repeat;
    }
    .container{
        padding: 0px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 500px; //calc(768px - 120px);
        max-width: 930px;
        box-sizing: border-box;
        border: 2px solid yellow;
    }
    h1{
        font-size: 1.25em;
    }
    // tablet closing }
}